
.black{
    background-color: #1C2121;
}

.yellow{
    background-color: #B5A470;
}

.blue{
    background-color: #7B9DB7;
}
.blue50{
    background-color: rgba(123, 157, 183, 0.5);;
}
.blue30{
    background-color: rgba(123, 157, 183, 0.3);
}
.blue10{
    background-color: rgba(123, 157, 183, 0.1);
}